.main{
    -fx-background-color: #1D3C54;
}

.container{
    -fx-background-color: #FFF;
}

.left-form{
    -fx-background-color: #1D3C54;
}

.button-menu{
    -fx-background-color: #EDEDED;
    -fx-color: #316186;
}

.barra-pesquisa{
    -fx-border-radius: 8px;
}

.texto-painel{
     -fx-background-color: #EDEDED;
}

.button-painel{
    -fx-background-color: #31495C;
}

.fundo-painel{
    -fx-background-color: #316186;
}